### Violation

* **Stack trace ID:** {{ traceId }}

* **Total violations count:** {{ invocations.violationsCounter }}
* **Total invocation count:** {{ invocations.invocationCount }}
* **Total invocation time:** {{ invocations.totalTime }} ms

#### Trace

```
{{{ trace }}}
```

-----
